body {
margin:0;
padding: 10px;
font-style: Arial,Halvetica,sans-serif;
min-width: 400px;

}

input{
  width: 100%;
  padding-top: 10px; 
  padding-left: 10px; 
  padding-right: 10px; 
  padding-bottom: 10px; 
  box-sizing: border-box;
  border :1px solid  #5f9341;
  ;
   
}

button{
   margin-top: 4px;
   background-color:#5f9341 ;
   padding: 10px 20px;
   color: white;
   border: 1px solid #5f9341;
   font-weight: bold;
   
    
  
}
button:hover{
  background-color:rgb(11, 99, 7)
}

#delete-btn{
   background-color:white; 
   color: #5f9341;
   
   

}

#delete-btn:hover{
  background-color:rgb(205, 187, 187)
  
}


ul {
  list-style: none;
  padding-left:0;
  margin-top:20px;
}

li{
 margin-top:5px;
}

a{
  color: #5f9341;
}